<!DOCTYPE html>
<html lang="tr">
<body>
    <!-- Page Header -->
    <header class="masthead" style="width:1115px; height:580px; background-image: url('../../Content/startbootstrap-clean-blog-gh-pages/img/aboutme.JPG'); ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Ben Kimim?</h1>
                        <span class="subheading">Hayatıma Dair.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>1998' de İstanbul' da doğdum ve İstanbul'da büyüdüm. Kartal Anadolu Lisesi mezunuyum. Uludağ Üniversitesi matematik bölümünde bir sene okuduktan sonra Sakarya Üniversitesi bilişim sistemleri mühendisliğine yatay geçiş yaptım ve iki senedir Sakarya'da yaşıyorum. </p>
                <p>Okuduğum bölümü değiştirmek hayatımda verdiğim en önemli kararlardan biriydi. Matematik bölümü öğrencisi olduğum zaman içerisinde özel ders verme imkanım oldu ve iki dönem boyunca dersler verdim. Fakat sonrasında okuduğum bölümün, hayatım boyunca sürmesini istediğim yeni bilgiler edinme ve öğrenme isteğimi karşılayamayacağını düşündüm. Bu açıdan düşündüğümde kendim için çok uygun bir karar verdiğimi düşünüyorum. </p>
                <p>Kişisel özelliklerimden ve ilgi alanlarımdan bahsedecek olursam; gezmeyi, dans etmeyi, sporu, bilimsel araştırmalar yapmayı ve yeni şeyler öğrenmeyi çok seviyorum. Kendimi bildim bileli halk oyunlarıyla ilgileniyorum. Hayatımın her anında müzik dinliyorum. Bunların dışında hayvanlarla ve doğayla çok yakın arkadaşım.</p>
                <p></p>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js"></script>
</body>
</html>
