@model  Blog.ViewModels.HomeIndex
<!DOCTYPE html>
<html lang="tr">
<body>
    <!-- Page Header -->
    <header class="masthead" style="width:1115px; height:580px; background-image:  url('../../Content/startbootstrap-clean-blog-gh-pages/img/hometrvl.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Benim Hakkımda Her Şey.</h1>
                        <span class="subheading">Emekle, yürü ve koş.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <!-- Project One -->
        <div class="row">
            @foreach (var item in Model.Articles)
            {
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="@Url.Content(item.PhotoUrl)" style="height:300px; width:700px;" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>@item.ArticleTitle</h3>
                    <p>@item.Description.Substring(0, 200) ...</p>
                    <a class="btn btn-primary" href="#">Daha Fazlası</a>
                    <hr>
                </div>
            }
        </div> 
        <!-- /.row -->
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Custom scripts for this template -->
        <script src="~/Content/startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js"></script>
    </body>
</html>
